defmodule <%= inspect command_class_module %> do
  @moduledoc """
  <%= command_class %>
  """

  @behaviour Grizzly.ZWave.CommandClass

  @impl Grizzly.ZWave.CommandClass
  def byte(), do: <%= command_class_id %>
  <%!-- --%>
  @impl Grizzly.ZWave.CommandClass
  def name(), do: <%= inspect command_class_name %>
end
